h1{
  font-family: 'Lobster', cursive !important;
  line-height: 120%;
  text-shadow: 2px 2px #ffffff;
}

h2{
  font-family: 'Montserrat', sans-serif !;
  font-size: 20px;
  line-height: 10%;
}

.landing-background{
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image:url(../images/city.jpg);
}
